.page-header{
    border-bottom: 1px solid #ececec;
}

.page-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.page-nav{
    display: flex;
    align-items: center;
}

.page-header__logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    letter-spacing: 0.03em;
    color: #000000;
}

.page-header__logo{
    margin-right: 93px;
}

.page-header__logo-span {
    color: var(--accent-color);
}

.menu {
    display: flex;
    align-items: center;
}

.menu__link{
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--title-color);
    padding: 32px 0;
    display: block;
    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus{
    color: var(--accent-color);
    }
}

.menu__item:not(:last-child) {
    position: relative;
    margin-right: 50px;
}

.menu__link.menu__link-current::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;

    background: var(--accent-color);
    border-radius: 2px;
}

.menu__link-current{
    color: var(--accent-color);
}